* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #334d50;
	height: 100vh;
	background: linear-gradient(to top, #cbcaa5, #334d50);
	display: flex;
	justify-content: center;
	align-items: center;
}

h1 {
	padding: 10px;
}

input {
	margin: 10px;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
